@charset "utf-8";

/*--------------------------------------------------
// CSS 노멀라이즈
--------------------------------------------------*/
*{margin:0;padding:0;vertical-align:top;color:inherit;font:inherit;letter-spacing:inherit;}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary{display:block;}

audio,
canvas,
progress,
video{display:inline-block;}

audio:not([controls]){display:none;}

q:before,
q:after{content:none;}

ul,
ol,
li{list-style:none;}

table{width:100%;border-collapse:collapse;border-spacing:0;}
caption{text-align:left;}
th,
td{vertical-align:middle;text-align:center;}

address{font-style:normal;}
label{display:inline-block;}
a{display:inline-block;text-decoration:none;}

hr{height:0;}
pre{white-space:pre-line;}

fieldset{border:0;}
iframe{vertical-align:baseline;}

svg:not(:root){overflow:hidden;}

img,
legend{border:0;}

textarea{border-radius:0;resize:none;-webkit-appearance:none;-webkit-overflow-scrolling:touch;}

input:not(input[type="radio"]){border-radius:0;resize:none;}
input::-ms-clear{display:none;}
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button,
input::-webkit-search-cancel-button,
input::-webkit-calendar-picker-indicator{display:none;-webkit-appearance:none;}

[type="button"],
[type="reset"],
[type="submit"],
[type="file"]{cursor:pointer;}

[type="number"],
[type="email"],
[type="password"],
[type="search"],
[type="tel"],
[type="text"],
[type="url"]{border:1px solid #000;-webkit-appearance:none;-moz-appearance:textfield;}

[type*="date"],
[type="month"],
[type="time"],
[type="week"]{border:1px solid #000;}

[hidden]{display:none;}
[disabled]{cursor:default;}

button{border:0;background:transparent;cursor:pointer;}
button > *{position:relative;}

button::-moz-focus-inner,
input::-moz-focus-inner{padding:0;border:0;}

/*select{border-radius:0;}*/


/*--------------------------------------------------
// 공통
--------------------------------------------------*/
.ir-blind{overflow:hidden;position:absolute;top:0;left:0;width:0;height:0;font-size:0;line-height:0;}
.ir-indent{overflow:hidden;font-size:0;text-indent:-9999px;}
.ir-wa{position:relative;z-index:-1;}


/*--------------------------------------------------
// 레이아웃 데스크탑
--------------------------------------------------*/
html,
body{/*min-width:1000px;*/height:100%;background:#fff;}
html{color:#000;font:10px/1 "돋움","Dotum",sans-serif;}
body{position:relative;}