@charset "utf-8";

.brand-wrap {overflow:hidden;}
.qna-wrap{float:left;width:100%;height:auto;}
.qna-wrap .qna-desc{float:left;width:90%;padding:20px 5%;font-size:15px;}
.qna-wrap .qna-desc .qna-desc-strong{font-weight:bold;text-decoration: underline;}
.qna-wrap #qna-frame{float:left;width:100%;height:850px;}