@charset "utf-8";
/* CSS Document */

/* [font/] --> [../../common/] */
@font-face {font-family:ng;src:url(img/NanumGothic.eot);src:local(※),url(img/NanumGothic.woff) format('woff'),url(img/NanumGothic.ttf) format('truetype'),url(img/NanumGothic.svg#webfonturzspG4F) format('svg');}
@font-face {font-family:ngl;src:url(img/NanumGothicLight.eot);src:local(※),url(img/NanumGothicLight.woff) format('woff'),url(img/NanumGothicLight.ttf) format('truetype'),url(img/NanumGothicLight.svg#webfonturzspG4F) format('svg');}
@font-face {font-family:ngb;src:url(img/NanumGothicBold.eot);src:local(※),url(img/NanumGothicBold.woff) format('woff'),url(img/NanumGothicBold.ttf) format('truetype'),url(img/NanumGothicBold.svg#webfonturzspG4F) format('svg');}
@font-face {font-family:ngeb;src:url(img/NanumGothicExtraBold.eot);src:local(※),url(img/NanumGothicExtraBold.woff) format('woff'),url(img/NanumGothicExtraBold.ttf) format('truetype'),url(img/NanumGothicExtraBold.svg#webfonturzspG4F) format('svg');}

/* ============ Default ============ */
html {}
body { margin:0; padding:0; font-size:12px; font-family:dotum,Dotum,AppleGothic,sans-serif; background-color:#000;}
ol, ul, li, dl, dt, dd {list-style:none;}
ul, ol, li, dl, dt, dd, form, p, h1, h2, h3, h4, h5, h6, blockquote, fieldset {margin:0; padding:0;}
img, fieldset {border:0;}
hr {clear:both;}
em {font-style:normal;}

table{border-collapse:collapse;  border-spacing:0}
table td, table th{padding:0px; margin:0px; font-size:12px; color:#666;}
table caption {width:0; height:0; text-indent:-1000em; font:0/0 arial; overflow:hidden;}
legend {position:absolute; top:0; left:0; width:0; height:0; padding:0; overflow:hidden; visibility:hidden; font-size:0; line-height:0;}
.clear {clear:both; float:none; width:0; height:0; margin:0; padding:0; font:0/0 Arial;}
.hide {width:0; height:0; text-indent:-9999em; font:0/0 arial; overflow:hidden; visibility:hidden}

input:focus {outline:none;}
input.radio {margin:1px -2px 0 0; vertical-align:top;}
input.check {margin:-1px 0 0 0; vertical-align:top;}
input {margin:0; padding:0; font:9px/13px dotum;}
input, select {font-size:100%; vertical-align:middle;}
input, textarea, select {font:12px Dotum;}
input.ipTxt {padding-bottom:2px; padding-right:2px;}
h1,h2,h3,h4,h5,h6,th,td{font-size: 100%}
.scroll{scrollbar-face-color:#ffffff;scrollbar-track-color:#ffffff;scrollbar-3dlight-color:#b3b3b3;scrollbar-arrow-color:#b3b3b3;scrollbar-shadow-color:#b3b3b3;scrollbar-highlight-color:#ffffff;scrollbar-darkshadow-color:#b3b3b3}
div,p,span,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,form,fieldset,legend,input,textarea,button,select{text-align:left; }
body,table,input,textarea,select {
font:12px ; 
color:#333333;
}
a	{text-decoration:none;color:#505050; border:none;}
a:hover {text-decoration:none;color:#003cff; border:none;}

/* input 커서 기본값 */
/* ime-mode: active 한글 */
input {ime-mode: inactive /* 영문 */}

.ng {font-family:ng !important;}

a.btn_search {display:inline-block; padding: 2px 6px 2px 16px;  background:url(img/common/icon_search_bg.gif) 5px 50% no-repeat; background-color:#898989; border:1px solid #616161; font-size:11px ;color:#fff; font-family:ng; font-weight:lighter; letter-spacing:-0.5px;}
a.btn_search:hover {text-decoration:none; color:#fff;}

input.txt01 {height:17px; border:1px solid #d2d2d2; padding:2px 5px 0 5px;}

.ta_c {text-align:center !important;}

/*** 팝업기본 레이아웃 ***/
div.popup_wrap {width:100%; text-align:center; font-family:ng,dotum; font-size:12px; color:#333; position:relative}
div.popup_wrap {border-top:5px solid #214f7e;}
div.top_wrap {height:50px;}
div.popup_wrap p.top_line {background-color:#666; text-align:left}
div.container_500 {width:500px; margin:0 auto;  text-align:left; background-color:#FFF;  position:relative;}
div.container_400 {width:380px; margin:0 auto;  text-align:left; background-color:#FFF;  position:relative;}
h1.pop_name {position:absolute; top:-40px; left:0px; float:left; font-size:24px; font-weight:bold; color:#214f7e;}
p.btn_close {position:absolute; top:-40px; right:0px} 
div.bottom_logo {position:absolute; bottom:0%; left:0%; width:100%; background-color:#f7f7f7; /*멤버만 8px*/ padding:8px 0px; text-align:center}
div.bottom_comment {position:absolute; bottom:25px; left:0%; width:100%; padding:5px 0px 5px 10px; text-align:left; color:#95704d;}


/*** 우편번호 검색 ***/

div.zipcode_wrap {width:100%; text-align:left; padding-top:; height:540px}
div.zipcode_wrap p.tap {width:100%; border-bottom:2px solid #898989}
div.zipcode_wrap p.tap a {display:inline-block; width:120px; text-align:center; padding:7px 0px; border:1px solid #e6e6e6; border-bottom:none}
div.zipcode_wrap p.tap a:hover {color:#333; text-decoration:none; background-color:#898989; color:#fff;}
div.zipcode_wrap p.tap a.on {background-color:#898989; color:#fff; border:none;}
div.zipcode_wrap div.search_area {width:100%; background-color:#f7f7f7; text-align:center; height:180px; margin-bottom:10px;}
div.zipcode_wrap div.search_area div.align {width:100%; padding:10px;}
div.zipcode_wrap div.search_area div.align table th {text-align:left; padding:7px 0px;}

div.zipcode_wrap table.list_title {margin-top:0px;}
div.zipcode_wrap table.list_title td {font-weight:lighter; background-color:#999; color:#fff; padding:6px 0px; text-align:center;}
div.zipcode_wrap div.list_area {width:100%; height:235px; overflow-y:scroll;}
div.zipcode_wrap div.list_area table.list th {text-align:center; font-weight:lighter;}
div.zipcode_wrap div.list_area table.list td {color:#666; text-align:left; padding:7px 0; border-bottom:1px solid #e6e6e6;}
div.zipcode_wrap div.list_area table.list td.top {padding:0px 0px 7px 0px;}
div.zipcode_wrap div.list_area table.list td.none {border-bottom:none; padding:7px 0px 0px 0px;}
div.zipcode_wrap div.list_area table.list td.text_cen{text-align:center;}
div.zipcode_wrap div.list_area table.list td.text_left{text-align:left; padding-left:10px;}
div.zipcode_wrap div.list_area table.list td.text_left table{margin:0px;}

div.point {font-weight:bold; color:#000; font-family:ngb;}
input.btn_select {font-family:ng;text-align:center;border:none; padding: 5px 5px; margin:7px; background-color:#898989; cursor:pointer; color:#fff; border-bottom:1px solid #616161; border-right:1px solid #616161; border-top:1px solid #797979; border-left:1px solid #797979;}

/*
.page_type02 {margin-top:10px;}
.page_type02 a {display:inline-block; padding:6px 7px; margin:1px; border:1px solid #f3f3f3;}
.page_type02 a:hover {text-decoration:none !important; border:1px solid #e1e1e1;}
*/
.page_type02{width:100%; clear:both; position:relative; text-align:center; padding-top:20px;}
.page_type02 table{margin:0 auto; text-align:left; /*width:100%;*/}
.page_type02 table td{padding-left:5px;}
.page_type02 table .pd_none{padding-left:0;}
.page_type02 table td a{color:#909090; font-weight:bold; padding:6px 8px 5px 8px; border:1px solid #ebebeb; line-height:25px; text-decoration:none;}
.page_type02 table td a:hover, .page_type02 table .this a{color:#636363; font-weight:bold; padding:6px 8px 5px 8px; border:1px solid #9f9f9f; text-decoration:none;}
.page_type02 .btn_top{position:absolute; right:0; bottom:2px;}

.page_type_navi{width:100%; clear:both; position:relative; text-align:center; padding-top:20px;}
.page_type_navi table{margin:0 auto; text-align:left; /*width:100%;*/}
.page_type_navi table td{padding-left:5px; }
.page_type_navi table .pd_none{padding-left:0;}

.page_type_navi table td a{color:#909090; text-align:center; display:block; font-weight:bold; padding:6px 8px 5px 8px; border:1px solid #ebebeb; text-decoration:none;}
.page_type_navi table td a:hover, .page_type_navi table .this a{color:#636363; font-weight:bold;  border:1px solid #214f7e; text-decoration:none;}
.page_type_navi .btn_top{position:absolute; right:0; bottom:2px;}
.page_type_navi table td img{margin:4px 0 4px 0;}